//
// authentication.scss
//

body {
     &.authentication-bg {
          background: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 50%, #1a1a1a 100%);
          background-attachment: fixed;

          .account-pages {
               align-items: center;
               display: flex;
               min-height: 100vh;
          }
     }
}

@keyframes gradient {
     0% {
          background-position: 0% 50%;
     }

     50% {
          background-position: 100% 50%;
     }

     100% {
          background-position: 0% 50%;
     }
}



.auth-logo {
     .logo-dark {
          display: block;
     }

     .logo-light {
          display: none;
     }
}

html[data-bs-theme="dark"] {
     .auth-logo {
          .logo-dark {
               display: none;
          }

          .logo-light {
               display: block;
          }
     }
}
