//
// card.scss
//

.card {
    margin-bottom: $spacer;
    transition: all .35s;
    box-shadow: $box-shadow;
    // background-image: var(--bs-gradient);
    border-style: double;
    border-width: 3px;
}

.card-link+.card-link {
    margin-left: $card-spacer-x;
    margin-right: 0;
}

.card-drop {
    font-size: $h4-font-size;
    line-height: 0;
    color: inherit;
}

.card-height-100 {
    height: calc(100% - #{$spacer});
}


// Card title / Card Header
.card-title,
.card-header {
    margin-top: 0;
}

.card-title {
    font-size: 1rem;
}

.card-subtitle {
    margin: 0;
}

.sub-header {
    font-size: $font-size-base;
    margin-bottom: $spacer;
    color: $text-muted;
}